@media print {
  body, html {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  body * {
    visibility: hidden;
  }

  .printable-content, .printable-content * {
    visibility: visible;
  }

  .printable-content {
    position: relative;
    height: 100%;
    page-break-after: always;
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .printable-content .edit-icon {
    display: none;
  }

  .printable-content .MuiTypography-root {
    overflow-wrap: break-word;
  }
}